@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>TagHelpers</h2>
        <button bs-button-color="success">button</button>
        <ul items="1"></ul>
        <formbutton b-color="danger" type="reset"></formbutton>
        <formbutton></formbutton>
    </div>
</div>
